.blogcard{
	display: flex;
	border: 1px solid;
	border-radius: 7px;
	border-color: gray;
	height: 8em;
	overflow: hidden;
}
.blogcard:hover{
	border-color: var(--link-state-color);
}

.blogcard-content{
	width: 70%;
	max-width: 70%;
	overflow: hidden;
}

.blogcard-title{
	color: var(--font-color);
	font-weight: bold;
	font-size: 1.0em;
}

.blogcard-description{
	color: var(--font-color);
	font-size: 0.8em;
}

.blogcard-thumbnail{
	width: 30%;
	max-width: 30%;
	overflow: hidden;
}

.blogcard-image{
	transform: scale(1.0);
}

